@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Abhaya Libre";
    src: url("../fonts/AbhayaLibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Abhaya Libre";
    src: url("../fonts/AbhayaLibre-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Abhaya Libre";
    src: url("../fonts/AbhayaLibre-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Abhaya Libre";
    src: url("../fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Abhaya Libre";
    src: url("../fonts/AbhayaLibre-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  html {
    font-family: "Abhaya Libre", sans-serif;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ffffff;
  border-top: 6px solid #b4816b; /* Customize the color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: #ffffff;
  margin-top: 20px;
  font-size: 18px;
  font-family: "Abhaya Libre", serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
